<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="quiz" connectionString="Data Source=. ;Initial Catalog=quizapp;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizApp.Properties.Settings.quizappConnectionString"
   connectionString="Data Source=DESKTOP-L35697G;Initial Catalog=quizapp;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>